<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwIN3fT1QV23vA4_R7QgNIzhnQyZt9fKo</string>
	<key>GCM_SENDER_ID</key>
	<string>701132828293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pp32</string>
	<key>PROJECT_ID</key>
	<string>appnamepp32nutriars</string>
	<key>STORAGE_BUCKET</key>
	<string>appnamepp32nutriars.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701132828293:ios:63b6f75f83cd700d6843ec</string>
</dict>
</plist>